body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}


/* Top Banner */
header {
    background: linear-gradient(135deg, #111827, #1e40af, #16a34a);
    color: white;
    text-align: center;
    padding: 70px 20px;
    border-bottom: 5px solid #facc15;
}


header h1 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}


header p {
    font-size: 20px;
    margin-top: 15px;
    color: #facc15;
}


/* Navigation */
nav {
    background: #111;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}


nav a:hover {
    color: #facc15;
}


/* Hero Section */
.hero {
    background: white;
    text-align: center;
    padding: 45px;
}


.hero h2 {
    font-size: 35px;
}


/* Products */
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}


.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 5px 15px #ccc;
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-8px);
}


.card img {
    width: 100%;
    height: 260px;
    object-fit: contain;
    background: white;
    border-radius: 12px;
}


.card h3 {
    font-size: 20px;
}


button {
    background: #16a34a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}


button:hover {
    background: #15803d;
}


/* Sections */
section {
    padding: 35px;
    text-align: center;
}


section h2 {
    font-size: 30px;
}


/* WhatsApp Button */
.whatsapp {
    display: inline-block;
    background: #16a34a;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}


.whatsapp:hover {
    background: #15803d;
}


/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}


/* Mobile Design */
@media(max-width:600px){

header h1 {
    font-size: 32px;
}

header p {
    font-size: 16px;
}


.card {
    width: 90%;
}


nav a {
    display: inline-block;
    margin: 8px;
}

}
